<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Configuración de Datos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="primary-card" color="white">
    <ion-card-header>
      <ion-card-title>Confirmar número de teléfono</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ng-container *ngIf="perfil && !mostrarCodigo">
    <form [formGroup]="form">
      <section>
        <div class="section-header">Datos Personales</div>
        <div class="section-content">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input formControlName="persTcelular" placeholder="+569XXXXXXXX" inputmode="numeric" clearInput></ion-input>

              <!-- <ngx-intl-tel-input [onlyCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true" [searchCountryFlag]="true" [selectFirstCountry]="false"
                [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                [selectedCountryISO]="CountryISO.Chile" [maxLength]="9" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                formControlName="persTcelular">
              </ngx-intl-tel-input> -->

            </ion-item>
            <div class="invalid" *ngIf="submitted && celular?.hasError('pattern')">Teléfono inválido (Ej: +56224723000)</div>
            <div class="invalid" *ngIf="submitted && celular?.hasError('required')">Campo obligatorio</div>
            <ion-item>
              <ion-label position="stacked">Confirmar teléfono</ion-label>

              <ion-input formControlName="persTcelularConfirma" placeholder="+569XXXXXXXX" inputmode="numeric" clearInput></ion-input>

              <!-- <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true" [searchCountryFlag]="true" [selectFirstCountry]="false"
                [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                [selectedCountryISO]="CountryISO.Chile" [maxLength]="15" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                formControlName="persTcelularConfirma">
              </ngx-intl-tel-input> -->

            </ion-item>
            <div class="invalid" *ngIf="submitted && celularConfirma?.hasError('pattern')">Teléfono inválido (Ej: +56 2 24723000)</div>
            <div class="invalid" *ngIf="submitted && celularConfirma?.hasError('required')">Campo obligatorio</div>
            <div class="invalid" *ngIf="submitted && !telefonosIguales">Los teléfonos deben ser iguales.</div>
          </ion-list>
        </div>
      </section>
      <section>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-nav-link router-direction="back">
                <ion-button ion-nav-link color="secondary" shape="round" expand="full">
                  Cancelar
                </ion-button>
              </ion-nav-link>
            </ion-col>
            <ion-col>
              <ion-button color="primary" shape="round" expand="full" (click)="validar()">
                Siguiente
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </form>
  </ng-container>

  <ng-container *ngIf="mostrarCodigo">
    <section>
      <div class="section-header">CÓDIGO DE CONFIRMACIÓN</div>
      <div class="section-content">
        <ion-list>
          <ion-item>
            <ion-icon color="success" src="assets/icon/check_circle.svg" slot="start"></ion-icon>
            <ion-label>Se enviará un SMS con el código de confirmación al número de teléfono ingresado. Si éste no llega en los próximos minutos, reenviar el código aquí.</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </section>

    <div class="pin-contenedor">
      <code-input #codeInput [isCodeHidden]="false" [codeLength]="6" (codeChanged)="onPinChanged($event)" (codeCompleted)="onPinCompleted($event)"></code-input>
    </div>

    <section>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="cancelar()" color="secondary" shape="round" expand="full">
              Cancelar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" shape="round" expand="full" (click)="confirmar()" [disabled]="!codigoValido">
              Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </ng-container>

</ion-content>