ion-header {
  ion-toolbar.title {
    --background: #fff;
    --color: #333;
    --min-height: 56px;

    ion-title {
      font-size: 24px;
      padding-inline: 15px;
      text-align: left;
      font-weight: 600;
    }
  }
}

ion-content {
  ion-toolbar {
    --background: #fff;
    box-shadow: 0px 2px 6px #00000033;
    --color: #333;
    --min-height: 56px;

    ion-title {
      font-size: 24px;
      padding-inline: 15px;
      text-align: left;
      font-weight: 600;
    }
  }
  ion-list {
    ion-item {
      ion-thumbnail {
        --size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ion-icon {
        width: 48px;
        font-size: 32px;
      }
      ion-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
