<ion-header class="tab-content">
  <ion-toolbar>
    <ion-title>Recuperación de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="tabs">
    <ion-segment [(ngModel)]="segmento" color="primary">
      <ion-segment-button [value]="0">
        <ion-label>Clases Por Recuperar</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Clases Por Recuperar Aprobadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </section>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData) {

  @if (segmento == 0) {

  @if (suspendidas?.length) {
  <ion-list inset="true">
    @for (item of suspendidas; track $index) {
    <ion-item>
      <ion-label>
        <h2>Fecha Clase Suspendida: {{item.detalle.lclaFclase}}</h2>
        <p>Libro de Clases: {{item.detalle.libro}}</p>
        <p>Número de Bloques: {{item.detalle.bloques}}</p>
        <p>{{item.detalle.horarioi}} - {{item.detalle.horariot}}</p>
        @if (item.detalle.rechazada == 'S') {
        <p>Estado: <b style="color: var(--ion-color-danger)">Rechazada {{item.detalle.fechaRechazo}}</b></p>
        }
        @else if (item.detalle.solicitada == 'S') {
        <p>Estado: <b style="color: var(--ion-color-primary)">Solicitud Enviada {{item.detalle.fechaSolicitud}}</b></p>
        }
        @else if (item.detalle.solicitada == 'N') {
          <p>Estado: <b style="color: var(--ion-color-primary)">Pendiente</b></p>
        }
      </ion-label>
      @if (item.detalle.rechazada == 'S') {
        <ion-button slot="end" fill="outline" color="primary" shape="round" (click)="solicitar(item)">
          Solicitar Nuevamente
        </ion-button>
      }
      @else if (item.detalle.solicitada == 'S') {
        <ion-note slot="end">
          <ion-icon src="assets/icon/info.svg"></ion-icon>
          Aprobación Pendiente</ion-note>
      }
      @else if (item.detalle.solicitada == 'N') {
        <ion-button slot="end" fill="outline" color="primary" shape="round" (click)="solicitar(item)">
          Solicitar Recuperación
        </ion-button>
      }
      
    </ion-item>
    }
  </ion-list>
  }
  @else {
  <div class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>No existen clases por recuperar.</p>
    </div>
  </div>
  }
  }
  @else if (segmento==1) {
  @if (aprobadas?.length) {
  }
  @else {
  <div class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>No existen clases por recuperar aprobadas.</p>
    </div>
  </div>
  }
  }

  }

  <!-- 
  @if (mostrarData && recuperaciones) {
  <ion-card class="tabla">
    <ion-card-header>
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="text-right">
          <ion-button color="primary" shape="round" (click)="solicitar()" [disabled]="!recuperacion">
            Solicitar Recuperación
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <section class="tabla">
        <ion-radio-group [(ngModel)]="recuperacion">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Fecha Clase Pendiente</th>
                <th>Libro</th>
                <th>Bloques</th>
                <th>Horario</th>
              </tr>
            </thead>
            <tbody>
              @for (item of recuperaciones; track $index) {
              <tr (click)="recuperacion = item"
                [class.selected]="recuperacion && recuperacion.lclaNcorr == item.lclaNcorr">
                <td>
                  <ion-radio mode="md" color="primary" [value]="item"></ion-radio>
                </td>
                <td>{{item.lclaFclase}}</td>
                <td>{{item.lclaNcorr}}</td>
                <td>{{item.bloques}}</td>
                <td>
                  {{item.horaInicio}} {{item.horaHinicio}},<br />
                  {{item.horaFin}} {{item.horaHtermino}}
                </td>
              </tr>
              }
              @if (recuperaciones && recuperaciones.length == 0) {
              <tr>
                <td colspan="6" class="ion-text-center">Sin clases por recuperar en este momento.</td>
              </tr>
              }
            </tbody>
          </table>
        </ion-radio-group>
      </section>
    </ion-card-content>
  </ion-card>
  <ion-card class="tabla solicitudes">
    <ion-card-header>
      <ion-card-title>Solicitudes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <section class="tabla">
        <table>
          <thead>
            <tr>
              <th>Fecha Clase</th>
              <th>Libro</th>
              <th>Bloques</th>
              <th>Nº Clase</th>
              <th>Fecha Solicitud</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (item of solicitudes; track $index) {
            <tr>
              <td>{{item.lclaFclase}}</td>
              <td>{{item.lclaNcorr}}</td>
              <td>{{item.lclaNbloques}}</td>
              <td>{{item.lclaNclaseActual}}</td>
              <td>{{item.reclFsolicitud}}</td>
              <td>
                <ion-icon class="estado" [color]="resolverEstado(item.erecTdesc, 1)"
                  src="assets/icon/{{resolverEstado(item.erecTdesc, 2)}}.svg"></ion-icon>
              </td>
              <td>
                <ion-button color="medium" fill="clear" size="small" (click)="detalle($event, item)">
                  <ion-icon style="margin-right: 5px;" src="assets/icon/visibility.svg"></ion-icon>
                  <span>Ver</span>
                </ion-button>
              </td>
            </tr>
            }
            @if (solicitudes && solicitudes.length == 0) {
            <tr>
              <td colspan="7" class="ion-text-center">Sin solicitudes en este momento</td>
            </tr>
            }
          </tbody>
        </table>
      </section>
    </ion-card-content>
  </ion-card>
  <ion-popover class="detalle-solicitud" #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" size="auto">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Estado Solicitud</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isOpen = false">
              <ion-label>Cerrar</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        @if (solicitud) {
        <ion-list lines="none">
          <ion-item>
            <ion-label>Estado:</ion-label>
            <ion-label class="valor">{{solicitud.descripcion}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fecha Solicitada:</ion-label>
            <ion-label class="valor">{{solicitud.fecha}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Sala:</ion-label>
            <ion-label class="valor">{{solicitud.sala}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Bloques</ion-label>
            <ion-label class="valor">{{solicitud.bloques}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Horario:</ion-label>
            <ion-label class="valor">
              {{solicitud.horaInicio}} - {{solicitud.horaHinicio}}<br />
              {{solicitud.horaFin}} - {{solicitud.horaHtermino}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="solicitud.equipamiento">
            <ion-label>Observaciones:</ion-label>
            <ion-label class="valor">{{solicitud.equipamiento}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Código Sección:</ion-label>
            <ion-label class="valor">{{solicitud.asigTdesc}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fecha suspendida:</ion-label>
            <ion-label class="valor">{{solicitud.claseSuspendida}}</ion-label>
          </ion-item>
        </ion-list>
        }
      </ion-content>
    </ng-template>
  </ion-popover>
  }

  @if (mostrarData && !recuperaciones) {
  <div class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en estos momentos.</p>
    </div>
  </div>
  } -->

</ion-content>