
section.section-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;

    section.filtros {
        // height: 100%;
        // overflow-y: auto;
    }
    section.btn-buscar {
        margin-inline: 15px;
    }
}
