.section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .section-scroll {
        height: 100%;
        overflow-y: auto;

        section:first-child {
            margin-top: 15px;
        }
    }

    .btn-buscar {
        margin: 15px;
    }

    ion-item {
        ion-input {
            text-align: right;
        }
    }

    ion-item.picker-item {
        --background-activated: transparent;
        --background-focused: transparent;

        ion-datetime {
            margin: 0 auto;
            --background: white;
        }
    }
}
