.section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .section-scroll {
        height: 100%;
        overflow-y: auto;

        section:first-child {
            margin-top: 15px;
        }
    }

    .btn-buscar {
        margin: 15px;
    }

    ion-item {
        ion-input {
            text-align: right;
        }
    }

    ion-item.picker-item {
        --background-activated: transparent;
        --background-focused: transparent;
        display: none;

        ion-datetime {
            margin: 0 auto;
            --background: #fff;
            --background-rgb: #fff;
            width: 100%;
        }
    }

    .fade-in {
        opacity: 0;
        transform: translateY(-10px);
        animation: fadeInAnimation 0.3s ease-in forwards;
        display: block !important;
    }

    @keyframes fadeInAnimation {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
