<ion-header class="tab-content">
  <ion-toolbar>
    <ion-title>Apuntes en Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && calendario && calendario.length > 0) {
  <ion-row>
    <ion-col size="5" class="clases">
      <ion-card>
        <ion-card-header>Clases</ion-card-header>
        <ion-card-content>
          <ion-list>
            @for (item of calendario; track $index) {
            <ion-item (click)="cargarApuntes(item)" class="{{item.selected ? 'selected' : ''}}">
              <ion-label>
                <h2>Libro {{item.lclaNcorr}}</h2>
                <p>{{resolverFecha(item.lclaFclase)}}</p>
              </ion-label>
              @if (item.apuntes == 1) {
              <ion-badge slot="end">&nbsp;</ion-badge>
              }
            </ion-item>
            }
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="7" class="apuntes">
      @if (!agregarApunte && !modificarApunte && apuntes.length) {
      @for (item of apuntes; track $index) {
      <ion-card>
        <ion-card-header>
          <div class="toolbar">
            <span>{{item.amcoFregistro}}</span>
            <ion-button fill="clear" color="medium" (click)="editarApunte(item)" size="small">
              <ion-icon src="assets/icon/edit.svg" slot="start"></ion-icon>
              <ion-label>Editar</ion-label>
            </ion-button>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="comentario">
            <p [innerHTML]="resolverObservacion(item.amcoTobservacion)"></p>
          </div>
          @if (item.documentos.length) {
          <div class="archivos">
            @for (doc of item.documentos; track $index) {
            @if (esImagen(doc.amcdTnombre)) {
            <ion-thumbnail>
              <img [src]="resolverImagen(doc.amcdNcorr)" />
            </ion-thumbnail>
            }
            @else {
            <div class="archivo" (click)="archivoTap(item, doc)">
              <ion-icon [src]="resolverIcono(doc.amcdTnombre)"></ion-icon>
              <span>{{doc.amcdTnombre}}</span>
            </div>
            }
            }
          </div>
          }
        </ion-card-content>
      </ion-card>
      }
      <section class="footer" style="padding: 15px; text-align: center;">
        <ion-button shape="round" color="primary" (click)="agregarApunte = true">Agregar Apunte</ion-button>
      </section>
      }
      @if (libro && agregarApunte) {
      <form [formGroup]="form" (ngSubmit)="guardarApunte()">
        <ion-card>
          <ion-card-header>Agregar Apunte</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-textarea labelPlacement="stacked" label="Comentarios" placeholder="Escriba un comentario..."
                  formControlName="amcoTobservacion" [rows]="10" [errorText]="amcoTobservacionError" [counter]="true"
                  [maxlength]="500"></ion-textarea>
              </ion-item>
              @if (documentos.length == 0) {
              <ion-item class="archivo" (click)="adjuntarArchivo(adjuntosInput)">
                <ion-thumbnail slot="start">
                  <ion-icon src="assets/icon/add_circle.svg"></ion-icon>
                </ion-thumbnail>
                <ion-label>Adjuntar Archivo o Imagen</ion-label>
              </ion-item>
              }
              @else {
              <ion-item class="archivo">
                @for (doc of documentos; track $index) {
                <div class="archivo">
                  <ion-icon [src]="resolverIcono(doc.amcdTnombre)"></ion-icon>
                  <span>{{doc.amcdTnombre}}</span>
                </div>
                }
                @if(documentos.length <= 2) { <ion-thumbnail>
                  <ion-icon src="assets/icon/add_circle.svg"></ion-icon>
                  </ion-thumbnail>
                  }
              </ion-item>
              }
            </ion-list>
            <section>
              <ion-button type="submit" shape="round" color="primary">Guardar Apunte</ion-button>
              <p style="margin-top: 10px;">* Se pueden agregar hasta dos archivos, sin superar los 150mb.</p>
            </section>
          </ion-card-content>
        </ion-card>
      </form>
      }
      @if (apunte && modificarApunte) {
      <form [formGroup]="form" (ngSubmit)="guardarApunte()">
        <ion-card>
          <ion-card-header>
            <div class="toolbar">
              <span>{{apunte.amcoFregistro}}</span>
              <ion-button fill="clear" color="danger" (click)="eliminarApunte()" size="small">
                <ion-icon src="assets/icon/delete.svg" slot="start"></ion-icon>
                <ion-label>Eliminar</ion-label>
              </ion-button>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-textarea labelPlacement="stacked" label="Comentarios" placeholder="Escriba un comentario..."
                  formControlName="amcoTobservacion" [rows]="10" [errorText]="amcoTobservacionError" [counter]="true"
                  [maxlength]="500"></ion-textarea>
              </ion-item>
              @if (apunte.documentos.length == 0) {
              <ion-item class="archivo" (click)="adjuntarArchivo(adjuntosInput)">
                <ion-thumbnail slot="start">
                  <ion-icon src="assets/icon/add_circle.svg" color="medium"></ion-icon>
                </ion-thumbnail>
                <ion-label>Adjuntar Archivo o Imagen</ion-label>
              </ion-item>
              }
              @else {
              <ion-item class="archivo">
                <div class="archivos">
                  @for (doc of apunte.documentos; track $index) {
                  <div class="archivo" (click)="archivoTap(apunte, doc)">
                    <ion-icon [src]="resolverIcono(doc.amcdTnombre)" color="medium"></ion-icon>
                    <span>{{doc.amcdTnombre}}</span>
                  </div>
                  }
                  <div class="archivo add" (click)="adjuntarArchivo(adjuntosInput)">
                    <ion-icon src="assets/icon/add_circle.svg" color="medium"></ion-icon>
                  </div>
                  <!-- <ion-thumbnail (click)="adjuntarArchivo(adjuntosInput)">
                    <ion-icon src="assets/icon/add_circle.svg" color="medium"></ion-icon>
                  </ion-thumbnail> -->
                </div>
              </ion-item>
              }
            </ion-list>
            <section>
              <ion-button fill="outline" shape="round" color="primary" (click)="cancelarEditar()">Cancelar</ion-button>
              <ion-button type="submit" shape="round" color="primary">Guardar Apunte</ion-button>
            </section>
          </ion-card-content>
        </ion-card>
      </form>
      }
    </ion-col>
  </ion-row>
  }

  @if (mostrarData && calendario && calendario.length == 0) {
  <section>
    <div class="empty-state">
      <div>
        <ion-icon src="assets/icon/info.svg"></ion-icon>
        <p>Sin libros para mostrar en estos momentos.</p>
      </div>
    </div>
  </section>
  }

  @if (mostrarData && !calendario) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }

  <input type="file" #adjuntosInput style="display: none;" (change)="adjuntar($event)"
    accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,image/*" />


</ion-content>