<ion-header>
  <ion-toolbar>
    <ion-title>Reportar Excepción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-label>Cerrar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="excepcionForm" (ngSubmit)="enviarCorreo()">
    <ion-list>
      <ion-item lines="none">
        <ion-label>De: <strong>{{user.persTnombreCompleto}}</strong></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Para: <strong>{{jefeCarrera.persTemailInacap}}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-select formControlName="alumnos" [multiple]="true" label="Estudiantes"
          labelPlacement="stacked" placeholder="Seleccione los Estudiantes">
          <ion-select-option [value]="item" *ngFor="let item of alumnos">
            {{item.persTapePaterno}} {{item.persTapeMaterno}}, {{item.persTnombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="alumnosError">{{alumnosError}}</div>
      <ion-item lines="none">
        <ion-textarea formControlName="mensaje" label="Mensaje" labelPlacement="stacked"
          placeholder="El mensaje no debe tener más de 2.000 caracteres" counter="true" maxlength="2000"
          rows="6" [errorText]="mensajeError"></ion-textarea>
      </ion-item>
    </ion-list>
    <section style="margin: 20px;">
      <ion-button type="submit" color="primary" expand="block" shape="round">Enviar Reporte</ion-button>
    </section>
  </form>

</ion-content>
