<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Asistencia Rápida</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-label>Cerrar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (alumnosFiltrados) {
  <section class="section-main">
    <ion-card class="asistencia">
      <p class="nota">Aquí podrá actualizar de manera rápida la asistencia de los estudiantes.</p>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button [fill]="resolverColor(1)" shape="round" expand="block"
                (click)="aplicarFiltro(1)">{{resolverContador(1)}}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button [fill]="resolverColor(2)" shape="round" expand="block"
                (click)="aplicarFiltro(2)">{{resolverContador(2)}}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button [fill]="resolverColor(3)" shape="round" expand="block"
                (click)="aplicarFiltro(3)">{{resolverContador(3)}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        @if (alumnosFiltrados) {
        <section class="tabla">
          <table>
            <thead>
              <tr>
                <th>Nº</th>
                <th class="ion-text-left">Nombre Estudiante</th>
                <th *ngIf="alumnos.length">{{resolverDia(alumnos[0].lclaFclase)}}<br />{{alumnos[0].lclaFclase}}
                </th>
              </tr>
            </thead>
            <tbody>
              @for (item of alumnosFiltrados; track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>
                  <div class="avatar">
                    <ion-avatar>
                      <img [src]="resolverFoto(item.persNcorr)" />
                    </ion-avatar>
                    <span>{{item.persTapePaterno}}, {{item.persTnombre}}</span>
                    @if (item.alnoNoportunidad >= 3) {
                    <ion-badge id="est-oportunidad-{{$index}}" color="medium">{{item.alnoNoportunidad}}</ion-badge>
                    <ion-popover trigger="est-oportunidad-{{$index}}" side="right" alignment="end">
                      <ng-template>
                        <ion-content class="ion-padding">
                          {{resolverOportunidad(item.alnoNoportunidad)}}
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                    }
                    @if (item.estadoCumpleanos == 1) {
                    <ion-icon id="est-cumple-{{$index}}" src="assets/icon/cake.svg"></ion-icon>
                    <ion-popover trigger="est-cumple-{{$index}}" side="right" alignment="end">
                      <ng-template>
                        <ion-content class="ion-padding">Estudiante de cumpleaños</ion-content>
                      </ng-template>
                    </ion-popover>
                    }
                  </div>
                </td>
                @if (alumnos.length) {
                <td (click)="procesarAsistencia(item)">
                  @if (item.asistenciaActual == 0) {
                  <ion-icon class="no-informada" src="assets/icon/radio_button_unchecked.svg"></ion-icon>
                  }
                  @else if (item.asistenciaActual == 1) {
                  <ion-icon class="ausente" src="assets/icon/cancel.svg"></ion-icon>
                  }
                  @else if (item.asistenciaActual == 2) {
                  <ion-icon class="presente" src="assets/icon/check_circle.svg"></ion-icon>
                  @if (item.rasiFregistroInicio && item.rasiFregistroTermino) {
                  <div class="presente-retiro">Retiro Anticipado<br/>{{item.rasiFregistroTermino}}</div>
                  }
                  }
                </td>
                }
              </tr>
              }
              @if (alumnosFiltrados && alumnosFiltrados.length == 0) {
              <tr>
                @if (filtroAsistencia == 1) {
                <td colspan="3" class="ion-text-center">Curso sin estudiantes...</td>
                }
                @else if (filtroAsistencia == 2) {
                <td colspan="3" class="ion-text-center">Curso sin presentes...</td>
                }
                @else if (filtroAsistencia == 3) {
                <td colspan="3" class="ion-text-center">Curso sin ausentes...</td>
                }
              </tr>
              }
            </tbody>
          </table>
        </section>
        }
      </ion-card-content>
    </ion-card>
    <section style="margin: 15px;">
      <ion-button color="primary" fill="outline" shape="round" expand="block" (click)="reportarExcepcion()"
        [disabled]="!permitirReportar">Reportar Excepción</ion-button>
    </section>
  </section>
  }

</ion-content>