ion-content {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    section.section-main {
      height: 100%;
      overflow: auto;

      p {
        margin: 16px;
      }
      div.error {
        color: var(--ion-color-danger);
        font-size: 12px;
        margin-inline: 16px;
        margin-top: 5px;
      }
      ion-list {
        .btn-adjuntar {
          --border-width: 2px;
        }

        section.archivos {
          padding: 13px;
        }

        div.archivos {
          padding-inline: 15px;
          --color: #666;
          display: flex;
          overflow: auto;
          padding-top: 5px;

          .archivo-box {
            // display: inline-block;
            background: #eee;
            //height: 70px;
            //width: 100px;
            overflow: visible;
            //padding: 4px;
            //margin: 0 10px 10px;
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 15px 15px 0;

            .close {
              position: absolute;
              right: -5px;
              top: -5px;
              background: black;
              height: 15px;
              width: 15px;
              overflow: hidden;
              border-radius: 50%;
              color: white;

              ion-icon {
                font-size: 15px;
              }
            }

            .inner {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;

              ion-thumbnail {
                --size: 60px;
              }

              ion-icon {
                margin: 0 auto 6px auto;
                font-size: 24px;
              }

              ion-label {
                white-space: nowrap;
                font-size: 11px;
                line-height: 11px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-inline: 3px;
              }
            }
          }
        }
      }
    }
  }
}
