ion-header {
  ion-toolbar {
    ion-buttons[slot="start"] {
      ion-button {
        ion-label {
          color: var(--ion-color-info);
          font-weight: 500;
          font-size: var(--FS16);
        }
      }
    }
    ion-buttons[slot="end"] {
      ion-button {
        ion-icon {
          color: var(--ion-color-primary);
        }
      }
    }
  }
}
ion-content {
  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        background-color: white;
        border-radius: 0;

        .mat-mdc-form-field-focus-overlay {
          opacity: 0 !important;
        }

        .mdc-line-ripple::before {
          border-bottom-width: 0px;
          border-bottom-color: #c8c7cc;
        }
        .mdc-line-ripple::after {
          border-bottom-width: 0px;
        }

        .d-none {
          display: none !important;
        }

        //.mdc-line-ripple::before

        mat-chip-grid {
          mat-chip-row {
            --mdc-chip-container-height: 25px;
          }
        }
      }

      .mat-mdc-form-field-subscript-wrapper {
        height: 1px;
      }
    }
  }

  ion-item {
    ion-icon {
      font-size: 36px;
    }
  }

  .archivos {
    padding: 10px 15px;
    --color: #666;
    display: flex;
    flex-wrap: wrap;

    .archivo-box {
      display: inline-block;
      background: #fff;
      height: 100px;
      width: 100px;
      overflow: visible;
      margin: 10px;
      position: relative;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;

      > div {
        height: 100%;
        width: 100%;
      }

      ion-skeleton-text {
        margin: 0;
      }

      .close {
        position: absolute;
        right: -5px;
        top: -5px;
        background: black;
        height: 15px;
        width: 15px;
        overflow: hidden;
        border-radius: 50%;
        color: white;

        ion-icon {
          font-size: 15px;
        }
      }

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: cover;
        }

        ion-icon {
          margin: 0 auto 6px auto;
        }

        ion-label {
          white-space: normal;
          font-size: 11px;
          line-height: 11px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-inline: 5px;
        }
      }
    }
  }
}

::ng-deep body.dark {
  ion-content {
    --background: var(--ion-color-dark-shade) !important;
  }
  mat-form-field {
    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        background-color: var(--ion-color-dark-shade) !important;

        .mdc-floating-label {
          color: var(--ion-color-light-shade) !important;
        }

        .mdc-line-ripple::before {
          border-bottom-color: var(--ion-color-dark-tint) !important;
        }

        mat-chip-grid {
          mat-chip-row {
            --mdc-chip-container-height: 25px;
          }
          .mdc-text-field__input {
            color: white !important;

            &::placeholder {
              color: #666666;
            }
          }
        }
      }
    }
  }
}
