@import "src/theme/tabla.scss";

section.section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    ion-card.solicitud {
        border-radius: 0;
        margin: 0;
        box-shadow: none;
        overflow: auto;

        section.carrera {
            height: 100%;
            padding: 0 0 15px 0;

            .form-row {
                display: flex;
                flex-wrap: wrap;
                margin-right: 0;
                margin-left: 0;

                label {
                    flex: 0 0 130px;
                }

                strong {
                    color: #4a4a4a;
                    font-weight: 700;
                }
            }
        }

        section.formulario {
            margin-top: 15px;

            ion-list {
                ion-item {
                    --padding-start: 0;
                    --inner-padding-end: 0;
                }
            }
        }

        div.error {
            color: var(--ion-color-danger);
            font-size: 12px;
            margin-top: 5px;
        }
    }
    section.btn-enviar {
        margin: 15px;
    }
}
