// section:first-child {
//     margin-top: 15px;
// }

section.section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .section-scroll {
        height: 100%;
        overflow-y: auto;

        ion-radio-group {
            ion-label {
              ::ng-deep span {
                b {
                  background-color: yellow;
                }
              }
            }
          }
    }

    .section-buttons {
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }
}