ion-card.tabla {
  margin: 0;
  border-radius: 0;
  box-shadow: 0px 2px 4px #00000012;
}
section.tabla {
  box-shadow: 0 0 0 1px #dadce0;
  border-radius: 8px;
  // overflow: auto;
  // position: relative;

  table {
    width: 100%;
    text-align: center;
    background-color: transparent !important;

    // &.clone {
    //     width: auto;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: white;
    // }

    th,
    td {
      border-top: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
      padding: 8px;
      font-size: 14px;
      color: var(--table-text-color);
      // vertical-align: top;

      ion-icon {
        font-size: 20px;

        &.ausente {
          color: var(--ion-color-danger);
        }
        &.presente {
          color: var(--ion-color-success);
        }
        &.no-informada {
          opacity: 0.4;
        }
      }

      .avatar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        app-cached-image {
          display: block;
          height: 30px;
          width: 30px;
          margin-right: 8px;
        }

        ion-avatar {
          height: 30px;
          width: 30px;
          margin-right: 8px;
        }

        span {
          flex: 1;
          text-align: left;
        }
      }
    }

    tr:first-child th {
      border-top-width: 0;
    }

    th:last-child,
    td:last-child {
      border-right-width: 0;

      &.br {
        border-right-width: 1px;
      }
    }

    tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    tbody tr.selected {
      background-color: #1565c01a !important;
    }
  }
}

::ng-deep body.dark {
  section.tabla {
    box-shadow: 0 0 0 1px var(--ion-color-dark-tint) !important;

    th,
    td {
      border-top-color: var(--ion-color-dark-tint) !important;
      border-right-color: var(--ion-color-dark-tint) !important;
      color: #fff !important;
    }
  }
}
