<ion-header>
  <ion-toolbar>
    <ion-title>Sedes</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../../privado">
        <ion-icon slot="icon-only" src="assets/icon/person.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && sedesFiltradas) {
  <section class="section-main">
    <section class="tabs">
      <ion-segment (ionChange)="tabsChanged($event)" [value]="activeTab" scrollable>
        <ion-segment-button [value]="0">Todas</ion-segment-button>
        <ion-segment-button [value]="1">Cercanas</ion-segment-button>
      </ion-segment>
    </section>
    @if (activeTab == 0) {
    <ion-searchbar color="white" placeholder="Buscar sede..." [(ngModel)]="sedesFiltro" (ionInput)="filtrarSedes()"
      (ionClear)="resetSedes()"></ion-searchbar>
    }
    <section class="section-scroll">

      @if (sedesFiltradas?.length) {
      <ion-list inset="true">
        @for (item of sedesFiltradas; track $index) {
        <ion-item detail="true" (click)="mostrarSede(item, sedeMdl)">
          <ion-thumbnail slot="start">
            <img default [src]="resolverFoto(item.sedeCcod)" alt="Sede INACAP" (error)="updateUrl($event)" appImage />
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.sedeTdesc}}</h2>
            <p *ngIf="activeTab == 1">{{item.km}}</p>
          </ion-label>
        </ion-item>
        }
      </ion-list>
      }
      @else if (sedesFiltro?.length) {
      <section class="empty-state">
        <div>
          <ion-icon src="assets/icon/search.svg"></ion-icon>
          <p>Sin resultados</p>
        </div>
      </section>
      }
      @else {
      <section class="empty-state">
        <div>
          <ion-icon src="assets/icon/info.svg"></ion-icon>
          <p>No hay sedes disponibles</p>
        </div>
      </section>
      }

    </section>
  </section>
  }

  @if (mostrarData && !sedesFiltradas) {
  <section class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Información no disponible en este momento.</p>
      <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
    </div>
  </section>
  }


  <ion-modal #sedeMdl>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>INACAP {{sedeData?.sedeTdesc}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="sedeMdl.dismiss()">
              <ion-label>Cerrar</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <capacitor-google-map #map></capacitor-google-map>
        <section style="margin-top: 15px;">
          <div class="section-content">
            <ion-list>
              <ion-item (click)="centrar()" class="ion-activatable">
                <ion-icon slot="start" color="medium" src="assets/icon/room.svg"></ion-icon>
                <ion-label>
                  <span>{{sedeData.sedeTdireccion}}, {{sedeData.ciudTcomuna}}</span>
                </ion-label>
              </ion-item>
              <ion-item detail="false" *ngIf="sedeData.sedeTfono" href="{{'tel:' +  sedeData.sedeTfono}}"
                class="ion-activatable">
                <ion-icon slot="start" color="medium" src="assets/icon/phone.svg"></ion-icon>
                <ion-label>
                  <span>{{sedeData.sedeTfono}}</span>
                </ion-label>
              </ion-item>
              <ion-item detail="false" *ngIf="sedeData.sedeTemail" href="{{'mailto:' +  sedeData.sedeTemail}}"
                class="ion-activatable">
                <ion-icon slot="start" color="medium" src="assets/icon/email.svg"></ion-icon>
                <ion-label>
                  <span>{{sedeData.sedeTemail}}</span>
                </ion-label>
              </ion-item>
              <ion-item detail="false" (click)="abrirNavegador(sedeData.sedeTlinkportal)" class="ion-activatable">
                <ion-icon slot="start" color="medium" src="assets/icon/laptop.svg"></ion-icon>
                <ion-label>
                  <span>INACAP <span [innerHTML]="sedeData.sedeTdesc"></span></span>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </section>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>