ion-header {
  &.ios {
    .tabs {
      padding: 10px;
      background-color: #fff;
    }
  }
  &.md {
    .tabs {
      background: #fff;

      ion-segment {
        display: flex;

        ion-segment-button {
          flex: 1;
          font-size: var(--FS16);
          font-weight: 600;
          letter-spacing: 0;
          text-transform: none;
          --indicator-height: 6px;
          --color: #999;

          max-width: 100%;

          &::part(indicator) {
            --indicator-color: #fff;
            opacity: 1;
          }

          &.segment-button-checked {
            color: #000000;

            ion-icon,
            ion-label {
              color: var(--ion-color-primary);
            }

            &::part(indicator) {
              --indicator-color: var(--ion-color-primary);
            }
          }

          ion-icon {
            margin-top: 10px;
          }

          ion-label {
            margin-top: 5px;
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}

ion-content {
  ion-searchbar {
    padding: 15px;
  }
  section {
    .section-content {
      ion-thumbnail {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

::ng-deep body.dark {
  ion-header {
    &.ios {
      .tabs {
        background-color: var(--ion-color-dark-shade) !important;

        ion-segment {
          --background: #000;

          ion-segment-button {
            &.segment-button-checked {
              color: #000 !important;
            }
          }
        }
      }
    }
  }
}
