<ion-header class="tab-content">
  <ion-toolbar>
    <ion-title>Apuntes en Clases</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Volver Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="apunte">
    <div class="dia-titulo">{{fecha}}</div>

    <form [formGroup]="form" (ngSubmit)="guardar()">
      <ion-list>
        <ion-item>
          <!-- <ion-label position="stacked">Apuntes de la Clase</ion-label> -->
          <ion-textarea label="Apuntes de la Clase" labelPlacement="stacked" formControlName="amcoTobservacion" rows="6" placeholder="Escriba sus comentarios..."></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button class="btn-adjuntar" fill="outline" color="medium" shape="round" (click)="adjuntar(adjuntarInput)">
              <ion-icon slot="start" src="assets/icon/attach_file.svg"></ion-icon>
              <span>Adjuntar Archivo / Tomar Foto</span>
            </ion-button>
            <p class="nota-archivos">* Se pueden agregar hasta dos archivos, sin superar los 3MB.</p>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button *ngIf="data" fill="outline" color="medium" shape="round" (click)="eliminar()">
              <ion-icon src="assets/icon/delete.svg"></ion-icon>
            </ion-button>
            <ion-button class="btn-guardar" type="submit" color="medium" shape="round">
              <ion-icon src="assets/icon/save.svg"></ion-icon>
              <span>Guardar</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <div class="archivos" *ngIf="data && data.documentos.length">
      <div class="archivo-box" *ngFor="let doc of data.documentos" (click)="descargarDocumento(doc, $event)">
        <div class="close" (click)="eliminarDocumento(doc, $event)">
          <ion-icon src="assets/icon/close.svg"></ion-icon>
        </div>
        <div class="inner">
          <ion-icon src="assets/icon/picture_as_pdf.svg"></ion-icon>
          <ion-label>{{doc.amcdTnombre}}</ion-label>
        </div>
      </div>
    </div>
    
  </section>

  <input type="file" #adjuntarInput style="display: none;" (change)="adjuntarWeb($event)"
        accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,image/*" />


</ion-content>
