ion-content {
  --keyboard-offset: 0 !important;

  swiper-container {
    height: 100%;
    background: #fff;

    swiper-slide {
      &.formulario {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
    .section-pin {
      width: 400px;
      margin: 80px auto 0 auto;

      h3 {
        display: flex;
        align-items: center;
        font-size: 18px;
        /* flex-direction: column; */
        margin: 0 0 20px;

        ion-icon {
          margin-right: 10px;
        }
      }

      ion-button {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;
      }
      // display: flex;
      // align-items: center;

      // ion-item {
      //   --padding-start: 0;
      //   --inner-padding-end: 0;

      //   // code-input {
      //   //   font-size: 44px;
      //   //   --item-height: 70px;
      //   // }

      //   ion-label,
      //   ion-note {
      //     margin: 5px;
      //   }
      // }
    }

    h2.no-configurado {
      display: flex;
      align-items: center;

      ion-icon {
        font-size: 20px;
        margin: 0 4px;
        color: var(--ion-color-warning);
      }
    }
    h2.configurado {
      display: flex;
      align-items: center;

      ion-icon {
        font-size: 20px;
        margin: 0 4px;
        color: var(--ion-color-success);
      }
    }
    p.estado {
      display: flex;
      // align-items: center;

      ion-icon {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .section-pin {
    width: 90% !important;
  }
}

::ng-deep body.dark {
  swiper-container {
    background: #000 !important;

    ion-input {
      --background: var(--ion-color-dark-shade) !important
    }
  }
}
