ion-content {
  --background: var(--ion-color-white);

  form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    ion-list {
      box-shadow: none !important;
    }

    .section-buttons {
      margin: 16px;
      display: flex;
      justify-content: space-between;
    }
  }
}
