<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="AMD" defaultHref="/privado"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-title>Contactos en Sede</ion-title>
  </ion-toolbar>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @for (item of sedes; track $index) {
  <section>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Sede {{item.sedeTdesc}}</h2>
        </ion-label>
      </ion-item>
      @if (item.vicerrector) {
      <ion-item class="persona">
        <app-cached-image slot="start" [src]="resolverFoto(item.vicerrector.persNcorr)"></app-cached-image>
        <ion-label>
          <h2>{{item.vicerrector.nombre}}</h2>
          <span>Vicerrector</span>
        </ion-label>
        @if (item.vicerrector.persTemailInacap) {
        <ion-button slot="end" color="primary" shape="round" fill="outline"
          (click)="correo(item.vicerrector.persTemailInacap)">
          <ion-icon src="assets/icon/mail.svg"></ion-icon>
          <span>Enviar Correo</span>
        </ion-button>
        }
      </ion-item>
      }
      @if (item.directorCarrera) {
      <ion-item class="persona">
        <app-cached-image slot="start" [src]="resolverFoto(item.directorCarrera.persNcorr)"></app-cached-image>
        <ion-label>
          <h2>{{item.directorCarrera.nombre}}</h2>
          <span>Director de Carrera</span>
        </ion-label>
        @if (item.directorCarrera.persTemailInacap) {
        <ion-button slot="end" color="primary" shape="round" fill="outline"
          (click)="correo(item.directorCarrera.persTemailInacap)">
          <ion-icon src="assets/icon/mail.svg"></ion-icon>
          <span>Enviar Correo</span>
        </ion-button>
        }
      </ion-item>
      }
      @if (item.directorAcademico) {
      <ion-item class="persona">
        <app-cached-image slot="start" [src]="resolverFoto(item.directorAcademico.persNcorr)"></app-cached-image>
        <ion-label>
          <h2>{{item.directorAcademico.nombre}}</h2>
          <span>Director Académico</span>
        </ion-label>
        @if (item.directorAcademico.persTemailInacap) {
        <ion-button slot="end" color="primary" shape="round" fill="outline"
          (click)="correo(item.directorAcademico.persTemailInacap)">
          <ion-icon src="assets/icon/mail.svg"></ion-icon>
          <span>Enviar Correo</span>
        </ion-button>
        }
      </ion-item>
      }
    </ion-list>
  </section>
  }

</ion-content>