ion-content {
  .main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-tablets {
      height: 100%;
      overflow: auto;

      ion-radio-group {
        ion-label {
          ::ng-deep span {
            b {
              background-color: yellow;
            }
          }
        }
      }
    }

    .section-buttons {
      margin: 16px;
      display: flex;
      justify-content: space-between;
    }
  }

  
}
