/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "assets/fonts/fonts.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
  /*Colores */
  --ion-color-primary: #1d78bf;
  --ion-color-primary-rgb: 29, 120, 191;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a6aa8;
  --ion-color-primary-tint: #3486c5;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #333333;
  --ion-color-white-contrast-rgb: 51, 51, 51;

  // Variable app
  --color: #040b15;
  --ion-text-color: #040b15;
  --ion-font-family: "Roboto", "sans-serif" !important;
  --ion-background-color: #fafafa;
  --ion-overlay-background-color: #fff;
  // tabbar
  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-border-color: #d5d6dd;
  //toolbar
  --ion-toolbar-background: #050508;
  --ion-toolbar-color: #fff;
  // --ion-toolbar-border-color: #6c6e80;

  --ion-item-background: #ffffff;
  --ion-border-color: #d5d6dd;
  --inner-border-width: 0px 0px 0.5px 0px;

  body {
    font-family: "Roboto", sans-serif;

    .ion-color-white {
      --ion-color-base: var(--ion-color-white);
      --ion-color-base-rgb: var(--ion-color-white-rgb);
      --ion-color-contrast: var(--ion-color-white-contrast);
      --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
      --ion-color-shade: var(--ion-color-white-shade);
      --ion-color-tint: var(--ion-color-white-tint);
    }

    .loaderInacap {
      width: 100%;
      display: block;
      padding: 15px 0;
      text-align: center;
    }

    .empty-state {
      padding: 15px;

      div {
        text-align: center;
        max-width: 290px;
        margin: 0 auto;
        ion-icon {
          width: 90px;
          height: 90px;
          font-size: 90px;
          color: #cfcfcf;
        }
        p {
          color: #666666;
          margin-top: 5px;
        }
      }
    }

    section {
      .section-header {
        font-size: var(--FS14);
        color: var(--color);
        padding-top: 0px;
        padding-left: 25px;
        padding-bottom: 3px;
      }
      .section-content {
        margin-bottom: 15px;
        background-color: var(--ion-item-background);
        margin-inline: 15px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 8px 0px rgba(194, 201, 252, 0.15);

        ion-list {
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;
          background-color: transparent;
          border-radius: 8px;

          ion-item {
            ion-label {
              font-size: var(--FS14);
            }
          }

          > ion-item:last-child {
            --inner-border-width: 0 !important;
            --border-width: 0 !important;
          }
        }
      }

      &.margin {
        margin-inline: 15px;
      }
    }

    ion-button {
      // min-height: 45px;
      &.button-outline {
        --border-width: 2px;
      }
      &.button-round {
        min-height: 45px;
      }
    }

    ion-list {
      &.list-inset {
        box-shadow: 0px 4px 8px 0px rgba(194, 201, 252, 0.15);
      }
      &.list-md {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    ion-modal {
      ion-toolbar {
        --ion-toolbar-background: var(--ion-color-white);
        --ion-toolbar-color: var(--ion-text-color);
        --ion-toolbar-border-color: var(--ion-toolbar-border-color);
        padding-left: 0;
        padding-right: 0;

        ion-buttons[slot="end"] {
          ion-button {
            ion-label {
              color: var(--ion-color-info);
              font-weight: 500;
              font-size: var(--FS16);
            }
          }
        }

        ion-progress-bar {
          border-radius: 0;
        }
      }

      &.mdl-auto {
        --height: auto;
      }

      &.transparent-modal {
        --background: transparent;
        backdrop-filter: blur(10px);

        &::part(content) {
          box-shadow: none !important;
          border-radius: 0px !important;
        }
      }
    }

    ion-alert {
      &.alert-message {
        img {
          width: 48px;
          height: 48px;
        }
      }
      &.success-alert {
        div.image {
          text-align: center;
          margin: 5px 0;

          ion-icon {
            font-size: 48px;
            color: var(--ion-color-success);
          }

          img {
            width: 60px;
            margin: 0 auto 10px;
          }
        }
      }

      &.fail-alert {
        div.image {
          text-align: center;
          ion-icon {
            width: 60px;
            margin: 0 auto 10px;
            font-size: 60px;
            color: var(--ion-color-medium);
          }
        }
      }
    }

    &.barcode-scanning-active {
      background: transparent;
      visibility: hidden;
      --background: transparent;
      --ion-background-color: transparent;
    }

    .barcode-scanning-modal {
      visibility: visible;
      --height: 100%;
      --width: 100%;
    }

    &.dark {
      --color: #ffffff;
      --ion-text-color: #ffffff;
      --ion-background-color: #161619;

      --ion-color-step-400: #828599;

      // tabbar
      --ion-tab-bar-background: #2b2c33;
      --ion-tab-bar-border-color: #040b15;
      --ion-tab-bar-color: #828499;
      --ion-tab-bar-color-selected: #ffffff;
      //toolbar
      --ion-toolbar-border-color: #2b2c33;

      --ion-item-background: #2b2c33;
      --ion-border-color: #41424d;

      // Listado de colores
      --ion-color-1-background: #3b2b32;
      --ion-color-2-background: #3b332b;
      --ion-color-3-background: #3b2e2b;
      --ion-color-4-background: #3b382b;
      --ion-color-5-background: #383b2b;
      --ion-color-6-background: #2b353b;
      --ion-color-7-background: #2b2d3b;

      --ion-color-white: #161619;
      --ion-color-white-rgb: 40, 42, 59;
      --ion-color-white-contrast: #ffffff;
      --ion-color-white-contrast-rgb: 255, 255, 255;
      --ion-color-white-shade: #232534;
      --ion-color-white-tint: #3e3f4f;

      section {
        .section-content {
          box-shadow: 0px 4px 8px 0px rgba(74, 78, 110, 0.15);
        }
      }

      ion-list {
        &.list-inset {
          box-shadow: 0px 4px 8px rgba(74, 78, 110, 0.15);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body.barcode-scanning-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
