<ion-header class="tab-content">
  <ion-toolbar>
    <ion-title>Apoyo Académico</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && alumnos) {
  <ion-card class="alumnos">
    <ion-card-header>
      <section class="acciones">
        <ion-searchbar placeholder="Buscar" [(ngModel)]="alumnosFiltro" (ionInput)="filtrarAlumnos()"
          (ionClear)="resetAlumnos()"></ion-searchbar>
        <ion-button color="primary" shape="round" (click)="solicitar()" [disabled]="!habilitaSolicitud">
          Solicitar Apoyo
        </ion-button>
      </section>
    </ion-card-header>
    <ion-card-content>
      <section class="tabla">
        <table>
          <thead>
            <tr>
              <th rowspan="2"></th>
              <th rowspan="2">Nombre Estudiante</th>
              <th colspan="3">Información Académica</th>
              <th rowspan="2">Fecha Solicitud</th>
              <th rowspan="2">Observaciones</th>
            </tr>
            <tr>
              <td>Prom.<br />Notas</td>
              <td>Prom.<br />Asist.</td>
              <td class="br">Tipo<br />Riesgo</td>
            </tr>
          </thead>
          <tbody>
            @for (item of alumnosFiltrados; track $index) {
            <tr (click)="!item.amtuNcorr && item.selected = !item.selected" [class.selected]="item.selected"
              [class]="resolverCssAlumno(item.alnoCriesgoAlumno)">
              <td>
                @if (!item.amtuNcorr) {
                <ion-checkbox slot="start" color="primary" [(ngModel)]="item.selected"></ion-checkbox>
                }
              </td>
              <td>
                <div class="avatar">
                  <app-cached-image [src]="resolverFoto(item.persNcorr)"></app-cached-image>
                  <span>{{item.persTapePaterno}}, {{item.persTnombre}}</span>
                  @if (item.alnoNoportunidad >= 3) {
                  <ion-badge id="est-oportunidad-{{$index}}" color="medium" (click)="$event.stopPropagation()">
                    {{item.alnoNoportunidad}}
                  </ion-badge>
                  <ion-popover trigger="est-oportunidad-{{$index}}" side="right" alignment="end">
                    <ng-template>
                      <ion-content class="ion-padding">{{resolverOportunidad(item.alnoNoportunidad)}}</ion-content>
                    </ng-template>
                  </ion-popover>
                  }
                  @if (item.estadoCumpleanos == 1) {
                  <ion-icon id="est-cumple-{{$index}}" src="assets/icon/cake.svg"
                    (click)="$event.stopPropagation()"></ion-icon>
                  <ion-popover trigger="est-cumple-{{$index}}" side="right" alignment="end">
                    <ng-template>
                      <ion-content class="ion-padding">Estudiante de cumpleaños</ion-content>
                    </ng-template>
                  </ion-popover>
                  }
                </div>
              </td>
              <td>{{item.cargNnotaFinal}}</td>
              <td>{{item.cargNasistencia}}%</td>
              <td>{{item.alnoCriesgoAlumno || 'Sin Riesgo'}}</td>
              <td>{{resolverBitacora(item, 0)}}</td>
              <td>
                @if (item.amtuNestado == 1) {
                <ion-button id="respuesta-asesor-{{$index}}" size="small" color="medium" shape="round" fill="outline">
                  <ion-icon slot="start" name="eye-outline"></ion-icon>Ver Respuesta
                </ion-button>
                <ion-popover trigger="respuesta-asesor-{{$index}}" class="respuesta-asesor" side="left" alignment="end">
                  <ng-template>
                    <ion-content class="ion-padding">
                      <b>Respuesta del Asesor Pedagógico</b>
                      <p>{{item.amtuTsolucion}}</p>
                    </ion-content>
                  </ng-template>
                </ion-popover>
                }
                @if (!item.amtuNcorr || item.amtuNestado == 0) {
                {{resolverBitacora(item, 1)}}
                }
              </td>
            </tr>
            }
            @if (alumnosFiltrados && alumnosFiltrados.length == 0) {
            <tr>
              <td colspan="7" class="ion-text-center">Sin registros para mostrar...</td>
            </tr>
            }
          </tbody>
        </table>
      </section>
    </ion-card-content>
  </ion-card>
  }
  @if (mostrarData && !alumnos) {
  <section>
    <div class="empty-state">
      <div>
        <ion-icon src="assets/icon/info.svg"></ion-icon>
        <p>Información no disponible.</p>
        <ion-button color="primary" shape="round" (click)="recargar()">Recargar</ion-button>
      </div>
    </div>
  </section>
  }

</ion-content>