<ion-header class="tab-content">
  <ion-toolbar>
    <ion-title>Asistencia a Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (mostrarCargando) {
  <div class="loaderInacap">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  }

  @if (mostrarData && alumnos) {
  @if (alumnos.length > 0) {
  <ion-card class="tabla">

    <ion-card-content>
      <section class="tabla" style="overflow: auto;">

        <table mat-table [dataSource]="alumnos">

          <ng-container matColumnDef="persTnombre" sticky>
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">Nombre Estudiante</th>
            <td mat-cell *matCellDef="let element; let i = index" class="fixed-side ion-text-nowrap ion-text-left">
              <div class="avatar">
                <app-cached-image [src]="resolverFoto(element.persNcorr)"></app-cached-image>
                <span>{{element.persTapePaterno}}, {{element.persTnombre}}</span>
                @if (element.alnoNoportunidad >= 3) {
                <ion-badge id="est-oportunidad-{{i}}" color="medium" (click)="$event.stopPropagation()">
                  {{element.alnoNoportunidad}}
                </ion-badge>
                <ion-popover trigger="est-oportunidad-{{i}}" side="right" alignment="end">
                  <ng-template>
                    <ion-content class="ion-padding">{{resolverOportunidad(element.alnoNoportunidad)}}</ion-content>
                  </ng-template>
                </ion-popover>
                }
              </div>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="asistencia">
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">Asistencia</th>
            <td mat-cell *matCellDef="let element" class="fixed-side ion-text-center">{{element.asistencia}}%</td>
          </ng-container>

          @for (item of infoColumns; track $index) {
          <ng-container [matColumnDef]="item.key">
            <th mat-header-cell *matHeaderCellDef class="ion-text-center">{{item.label}}</th>
            <td mat-cell *matCellDef="let element" class="ion-text-center">
              @if (element[item.key]) {
              @if (element[item.key].esasNcorr == 0) {
              <ion-icon class="no-informada" src="assets/icon/radio_button_unchecked.svg"></ion-icon>
              }
              @else if (element[item.key].esasNcorr == 1) {
              <ion-icon class="ausente" src="assets/icon/cancel.svg"></ion-icon>
              }
              @else if (element[item.key].esasNcorr == 2) {
              <ion-icon class="presente" src="assets/icon/check_circle.svg"></ion-icon>
              }
              }
              @else {
              <ion-icon class="no-informada" src="assets/icon/radio_button_unchecked.svg"></ion-icon>
              }
            </td>
          </ng-container>
          }

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </section>
    </ion-card-content>
  </ion-card>
  }
  @else {
  <div class="empty-state">
    <div>
      <ion-icon src="assets/icon/access_time.svg"></ion-icon>
      <p>Sin registros en estos momentos.</p>
    </div>
  </div>
  }
  }

  @if (mostrarData && !alumnos) {
  <div class="empty-state">
    <div>
      <ion-icon src="assets/icon/info.svg"></ion-icon>
      <p>Sin registros en estos momentos.</p>
    </div>
  </div>
  }

</ion-content>